@font-face {
    font-family: roboto_reg;
    font-weight: 400;
    src: url('./Fonts/Roboto-Regular.ttf') format('truetype');
  }
@font-face {
font-family: roboto_med;
font-weight: 500;
src: url('./Fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
font-family: roboto_bold;
font-weight: 700;
src: url('./Fonts/Roboto-Bold.ttf') format('woff');
}
@font-face {
font-family: roboto_ital;
src: url('./Fonts/Roboto-Italic.ttf') format('woff');
}
  