*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
button{
    outline: none;
    border: none;
}
.container{
    padding-left: 32px;
    padding-right: 32px;
}