@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.action-btn{
  display: inline-block;
  overflow: hidden;
  position: relative;
  &:before,&:after{
      background: #9D00FF;
      content: '';
      position: absolute;
      z-index: -1;
  }
  &:after{
      height: 100%;
      left: -35%;
      top: 0;
      transform: skew(50deg);
      transition-duration: 0.6s;
      transform-origin: top left;
      width: 0;
  }
  &:hover{
      color: #fff;
      &:after{
          height: 100%;
          width: 135%;
      }
}
  
}





/*  IMPORTANT CODE BELOW */

.infinite-slide-track {
  animation: scroll 20s linear infinite;
}
.Horizontal-scroll-track{
  animation: Horizontalscroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 10));
  }
}
@keyframes Horizontalscroll {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(calc(-150px * 10));
  }
}




@media screen and (max-width: 768px) {
  .infinite-slide-track {
    width: calc(80px * 20);
  }
  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

@keyframes roam {
  0% {
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
  }
  33% {
      left: 100%;
      top: 50%;
      transform: translate(-100%, -50%);
  }
  66% {
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
  }
  100% {
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
  }
}

.animate-roam {
  animation: roam 10s linear infinite; /* Adjust duration for speed */
}