@import '../../Assets/Scss/style.scss';

.footer-section{
    background: #000;
    padding: $space10 $space20;
    .footer-nav-card{
        padding-top: 16px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        height: 24rem;
        .single-card{
            display: flex;
            align-items: flex-start;
            gap: 15px;
            .card-span{
                text-transform: capitalize;
                color: rgba(255, 255, 255, 0.50);
                font-size: 11px;
                font-family: "Montserrat";
                font-weight: 600;
                line-height: 1;
                // font-family: roboto_reg;
            }
            .card-ul{
                .card-li{
                    margin-top: 10px;
                    .li-link{
                        color: #fff;
                        font-size: 17px;
                        // font-family: roboto_med;
                        font-family: "Montserrat";
                        font-weight: 400;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                    &:hover{
                        opacity: .5;
                    }
                }
            }
            &.legal{
                position: absolute;
                bottom: 0;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                .legal-page{
                    color: #fff;
                    font-size: 14px;
                    // font-family: roboto_reg;
                    font-family: "Montserrat";
                    font-weight: 400;
                }
                .copy-right{
                    color: #fff;
                    // font-family: roboto_bold;
                    font-family: "Montserrat";
                    font-weight: 500;
                    font-size: 30px;

                }
            }
        }
    }
}

@media screen and (max-width:450px) {
    .footer-section{
        .footer-nav-card{
            padding: 22px 8px 13px ;
            gap: 34px;
            justify-content: flex-start;
            flex-direction: column;
            .single-card{
                gap: 5px;
                flex-direction: column;
                .card-ul{
                    display: flex;
                    align-items: baseline;
                    gap: 10px;
                    .card-li{
                        .li-link{
                            font-weight: 500;
                        }
                    }
                }
                &.legal{
                    flex-direction: row;
                }
            }
        }
    }
}
