@import "../../Assets/Scss/style.scss";

.home-section{
    .card-title{
        font-family: "Montserrat";
        font-size: 36px;
        line-height: 1.2;
        font-weight: 600;
        color: #fff;
    }
    .card-desc{
        font-size: 16px;
        font-family: "Montserrat";
        line-height: 130%;
        font-weight: 400;
        color: #fff;
    }
    .action-btn{
        padding: 8px 16px;
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 400;
        color: #fff;
        opacity: 0.8;
        background-color: #747579;
        border-radius: 0.25rem;
        display: inline-block;
        overflow: hidden;
        position: relative;
        &:before,&:after{
            background: #9D00FF;
            content: '';
            position: absolute;
            z-index: -1;
        }
        &:after{
            height: 100%;
            left: -35%;
            top: 0;
            transform: skew(50deg);
            transition-duration: 0.6s;
            transform-origin: top left;
            width: 0;
        }
        &:hover{
            color: #fff;
            &:after{
                height: 100%;
                width: 135%;
            }
    }
        
    }
    .card-head{
        display: flex;
        align-items: center;
        gap: 5px;
        position: absolute;
        left: 1.25rem;
        top: 1.25rem;
        right: auto;
        bottom: auto;
        z-index: 20;
        padding: 0.25rem 0.375rem;
        background: #0038ff;
        color: #fff;
        border-radius: 0.25rem ;
        font-family: "Montserrat";
        font-size: 13px;
        line-height: 1;
        font-weight: 600;
        .card-svg{
            display: block;
            vertical-align: middle;
        }
    }
    .hero-card{
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 2rem;
        .left-card{
            // background: linear-gradient(to right, #AA5555, #E56E61, #4545CE);
            // background: linear-gradient(to right, rgba(170, 85, 85, 0.5), rgba(229, 110, 97, 0.8), rgba(69, 69, 206, 1));
            
            background: url(../../Assets/Images/gradient1.png) right #000;
            background-size: cover;
            width: 65%;
            min-height: 32rem;
            padding-top: 4rem;
            padding-left: 1.25rem;
            border-radius: 2rem;
            transition: 0.5s all ease-in-out;
            &:hover{
                transition: 0.5s all ease-in-out;
                box-shadow: 0 0 20px rgb(255,255,255,.5);
                
            }
            .text-box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;
                width: 31rem;
                
            }
        }
        .right-card{
            background: url(../../Assets/Images/gradient2.png) right #000;
            background-size: cover;
            position: relative;
            width: 32%;
            border-radius: 2rem;
            padding-top: 4rem;
            transition: 0.5s all ease-in-out;
            overflow: hidden;
            .redirect-svg{
                position: absolute;
                top: 1.25rem;
                right: 1.25rem;
                visibility: hidden;
                transition: 0.5s all ease-in-out;
                font-size: 0.875rem;
                background: hsla(0,0%,100%,.2);
                border-radius: 0.5rem;
                padding: 0.75rem;
                color: #fff;
                transform: translateY(20px);
                display: block;
                cursor: pointer;
            }
            &:hover{
                transition: 0.5s all ease-in-out;
                box-shadow: 0 0 5px rgb(255,255,255,.5);
                .redirect-svg{
                    transform: translateY(0);
                    visibility: visible;
                    transition: 0.5s all ease-in-out;
                }
            }
            
            .text-box{
                display: flex;
                max-width: 19rem;
                padding-left: 1.25rem;
                flex-direction: column;
                justify-content: flex-end;
                grid-row-gap: 0.5rem;
                margin-bottom: 50px;
            }
            .service-box{
                transform: rotate(-15deg);
                display: flex;

                .marq-class{
                    display: flex;
                }
                .sinlge-service{
                    display: inline-block;
                    white-space: normal;
                    animation: autoslide 6s linear infinite;
                    border-radius: 0.5rem;
                    width: 50%;
                    margin: 0 10px;
                    transform: translate(50px,50px);
                    position: relative;
                    img{
                        width: 13.5rem;
                        border-radius: 0.5rem;
                        height: auto;
                        filter:opacity(0.6);
                    }
                    .service-title{
                        position: absolute;
                        top: -40px;
                        left: 0;
                        color: #fff;
                        font-size: 16px;
                        font-family: "Montserrat";
                        right: 0;
                        margin: auto;
                        width: fit-content;
                        visibility: hidden;
                        transition: 0.8s all ease-in-out;
                        transform: translateY(-10px);
                    }
                    &:hover{
                        img{
                            filter: opacity(1);
                        }
                        .service-title{
                            visibility: visible;
                            transform: translateY(0);
                            transition: 0.8s all ease-in-out;
                        }
                    }
                }
               
            }
        }
    }
    .mid-section{
        display: flex;
        align-items: flex-start;
        gap: 15px;
        flex-wrap: wrap;
        .left-mid{
            width: 35%;
            height: 100%;
            .top-left{
                margin: 0 0 20px;
                height: 15rem;
                position: relative;
                padding: 15px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: flex-end;
                background-image: linear-gradient(35deg,rgba(0,176,119,0),rgba(0,176,119,.4));
                border-radius: 2rem;
                transition: 0.5s all ease-in-out;
                opacity: 0.8;
                overflow: hidden;
                &:hover{
                    opacity: 1;
                    transition: 0.5s all ease-in-out;
                    box-shadow: 0 0 20px rgb(255,255,255,.5);
                    
                }
                .player-cards{
                    transform: translate(20px,20px);
                    position: relative;
                    width: 50%;
                    height: 100%;
                    padding: 5px;
                    
                    img{
                        // background: #fff;
                        padding: 5px;
                        border-radius: 0.75rem;
                        position: absolute;
                        bottom: -12rem;
                        right: -3rem;
                        left: auto;
                        top: auto;
                        width: 100%;
                        height: min-content;
                        &.play-card1{
                            z-index: 2;
                        }
                        &.play-card2{
                            z-index: 1;
                            right: -2rem;
                            bottom: -10rem;
                        }
                    }
                }
            }
            .mid-left{
                position: relative;
                background: url(../../Assets/Images/gradient1.png) right #000;
                background-size: cover;
                padding: 1.25rem;
                margin: 20px 0;
                border-radius: 2rem;
                opacity: 0.8;
                overflow: hidden;
                &:hover{
                    opacity: 1;
                    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
                }
                .employee-card{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .emp-detail{
                        width: 45%;
                        .emp-head{
                            font-family: "Montserrat";
                            font-size: 36px;
                            line-height: 1.2;
                            font-weight: 600;
                            color: #fff;
                        }
                        .emp-desc{
                            font-size: 16px;
                            font-family: "Montserrat";
                            line-height: 1.4;
                            font-weight: 400;
                            color: #fff;
                        }
                    }
                    .employee-list{
                        width: 55%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        transform: translateX(85px);
                        .single-list{
                            white-space: normal;
                            animation: autoslideY 6s linear infinite;
                            display: flex;
                            padding: 4px 16px 4px 4px;
                            align-items: center;
                            grid-column-gap: 8px;
                            border-radius: 100vw;
                            background-color: hsla(0,0%,100%,.15);
                            img{
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;
                            }
                            .emp-desig{
                                font-size: 16px;
                                font-family: "Montserrat";
                                font-weight: 500;
                                color: #fff;
                                text-transform: capitalize;
                            }
                        }
                        @keyframes autoslideY {
                            0% { transform: translate(0,10px); }
                            100% { transform: translate(0,-100px)}
                        }
                    }
                }
            }
        }
        .right-mid{
            width: 60%;
        }
    }
}
@keyframes autoslide {
    0% { transform: translate(0,50px); }
    100% { transform: translate(calc(-100px * 5),50px)}
}
